
 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
 }

p {
   margin: 0;
} 

ul, ol {
list-style-type: none;
margin: 0;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
} 



a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
 
.header-logo .logo-part {
 color: #2e2f42;
}

.footer-logo .logo-part {
 color: #2e2f42;
}
.nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
}

.contacts-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.contacts {
   font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
   color: #404bbf;
}

.page-footer {
background-color: #2e2f42;
color: #f4f4fd;
}

/* main part */

.main-section-one {
   background-color: #2e2f42;
   width: 1440px;
      height: 600px;
}

.main-title-one {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
   

}

.section-one-button {
   background-color: #4D5AE5;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer
}

.section-one-button:hover,
.section-one-button:focus {
   background-color: #404BBF;
}

.section-two-title {
   font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
}

.section-two-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
}


.main-section-three {
   background-color: #f4f4fd;
}

.section-three-title,
.section-four-title {
   font-weight: 700;
      font-size: 36px;
      text-transform: capitalize;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
}

.section-three-list-title {
font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}

.section-three-list-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #434455;
}

.section-three-list-item {
   background-color: #FFFFFF;
}

.section-four-list-title {
font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.section-four-list-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
}

.footer-logo-part {
   color:#f4f4fd ; 

}

.footer-paragraph {
   font-weight: 400;
      font-size: 16px;
   
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
}
.section-four-title {
   font-size: 36px;
   line-height: 1.11;
}