
 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
 }

img {
   display: block;
}

ul, ol {
list-style-type: none;
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
} 


a {
    text-decoration: none;
}

/* common */

.container {
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px
}

/* Header */
.page-header {
   border-bottom: 1px solid #e7e9fc;

}

.header-container {
   display: flex;
   align-items: center;
}


.header-nav {
   display: flex;
   align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
   color: #2e2f42;
}

.footer-logo .logo-part {
 color: #2e2f42;
}

.nav-list {
   display: flex;
      align-items:center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 40px;
}


.nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      padding: 24px 0;
      display: block;
}

.contacts {
   font-style: normal;
   margin-left: auto;
}

.contacts-list {
   display: flex;
   gap: 40px;
   margin-left: auto;

}

.contacts-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   display: block;
   padding: 24px 0;
   gap: 40px;
   
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
   color: #404bbf;
}

.page-footer {
background-color: #2e2f42;
color: #f4f4fd;
}

/* main part */

.main-section-one {
   background-color: #2e2f42;
   padding: 188px 0;

}

.main-title-one {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   font-weight: 700;
   letter-spacing: 0.02em;
   color: #ffffff;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 48px;
   width: 496px;
}

.section-one-button {
   display: block;
   background-color: #4D5AE5;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   border-radius: 4px;
      width: 169px;
      height: 56px;
      margin: 0 auto;
}

.section-one-button:hover,
.section-one-button:focus {
   background-color: #404BBF;
}
/* section-one end*/

/* section-two start*/

.main-section-two {
padding: 120px 0;
}

.section-two-list {
   display: flex;
   gap: 24px;
   
}

.section-two-title {
   font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
}

.section-two-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
}

/* section-two end*/

/* section-three start*/
.main-section-three {
   background-color: #f4f4fd;
   padding-top: 120px;
}

.section-three-list {
  display: flex;
  gap: 24px;
}

.section-three-title {
   margin-bottom: 72px;
}

.section-three-title,
.section-four-title {
   font-weight: 700;
      font-size: 36px;
      text-transform: capitalize;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
}

.section-three-list-title {
font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}

.section-three-list-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #434455;
}

.section-three-list-item {
   background-color: #FFFFFF;
   margin-bottom: 120px;
}

/* section-three end*/

/* section-four start*/

.section-four-list {
   display: flex;
}

.section-four-list-title {
font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.section-four-list-paragraph {
   font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
}

.footer-logo-part {
   color:#f4f4fd ; 

}

.footer-paragraph {
   font-weight: 400;
      font-size: 16px;
   
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
}
.section-four-title {
   font-size: 36px;
   line-height: 1.11;
}